.form-legend {
            border-bottom: solid;
            border-bottom-color: #E8E8E8;
            color: #1A3B47;
            font-family: "Playfair Display";
        }

        .form-fildset {
            padding: 5px;
        }

        .nav-link[data-toggle].collapsed:before {
            content: " ▾";
            color: #1A3B47;
        }

        .nav-link[data-toggle]:not(.collapsed):before {
            content: " ▴";
            color: #1A3B47;
        }

        * {
            color: #1A3B47;
        }

        .nav-item:hover {
            background-color: #E8E8E8;
        }

        .nav-item div ul li:hover {
            background-color: #FDE3D4;
        }

        #observacion {
            max-width: 100%;
            min-width: 100%;
            max-height: 200px;
            min-height: 50px;
            margin: 5px;
        }